# Alzheimer Analysis

## Structure
- Introduction
- Business Questions
- Methods used
- Results
- Last Words

## Introduction
In the context of Alzheimer disease, there have been multiple potential characteristics observed throughout the sample dataset. In the following, we will have a closer look on some medicine related feature terminology: 

### Mini-Mental State Examination
The Mini‐Mental State Examination (Folstein 1975), or MMSE, is a simple pen‐and‐paper test of cognitive function based on a total possible score of 30 points; it includes tests of orientation, concentration, attention, verbal memory, naming and visuospatial skills.

### Clinical Dementia Rating (CDR)
The CDR is based on a scale of 0–3: no dementia (CDR = 0), questionable dementia (CDR = 0.5), MCI (CDR = 1), moderate cognitive impairment (CDR = 2), and severe cognitive impairment (CDR = 3).

### Estimated total intacranial volume
The ICV measure, sometimes referred to as total intracranial volume (TIV), refers to the estimated volume of the cranial cavity as outlined by the supratentorial dura matter or cerebral contour when dura is not clearly detectable

### Normalized whole brain volume
Total brain volume (TBV) is another measure (to TIV) used to correct the head size variation across subjects. Using TBV may be more appropriate when interest is in how the brain structure volume changes with respect to the brain as a whole.

### Atlas scaling factor
Automated atlas transformation generated the Atlas Scaling Factor (ASF) defined as the volume-scaling factor required to match each individual to the atlas target. Because atlas normalization equates head size, the ASF should be proportional to TIV

## Business Questions
1) Which features provided in the dataset have the highest correlation to the alzheimer disease being positive?
2) Which features provided in the dataset have the highest correlation to the alzheimer disease being negative?
3) How can one model for predicting the alzheimer disease for a new individual input look like? 

## Methods used
Data Preparation including data cleaning and formating. Linear Regression.

## Results 
...

## Last Words
...

In [87]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error

df = pd.read_csv('alzheimer.csv')
df.head()

         Group M/F  Age  EDUC  SES  MMSE  CDR  eTIV   nWBV    ASF
0  Nondemented   M   87    14  2.0  27.0  0.0  1987  0.696  0.883
1  Nondemented   M   88    14  2.0  30.0  0.0  2004  0.681  0.876
2     Demented   M   75    12  NaN  23.0  0.5  1678  0.736  1.046
3     Demented   M   76    12  NaN  28.0  0.5  1738  0.713  1.010
4     Demented   M   80    12  NaN  22.0  0.5  1698  0.701  1.034

In [88]:
df.shape

(373, 10)

In [89]:
df.info

<bound method DataFrame.info of            Group M/F  Age  EDUC  SES  MMSE  CDR  eTIV   nWBV    ASF
0    Nondemented   M   87    14  2.0  27.0  0.0  1987  0.696  0.883
1    Nondemented   M   88    14  2.0  30.0  0.0  2004  0.681  0.876
2       Demented   M   75    12  NaN  23.0  0.5  1678  0.736  1.046
3       Demented   M   76    12  NaN  28.0  0.5  1738  0.713  1.010
4       Demented   M   80    12  NaN  22.0  0.5  1698  0.701  1.034
..           ...  ..  ...   ...  ...   ...  ...   ...    ...    ...
368     Demented   M   82    16  1.0  28.0  0.5  1693  0.694  1.037
369     Demented   M   86    16  1.0  26.0  0.5  1688  0.675  1.040
370  Nondemented   F   61    13  2.0  30.0  0.0  1319  0.801  1.331
371  Nondemented   F   63    13  2.0  30.0  0.0  1327  0.796  1.323
372  Nondemented   F   65    13  2.0  30.0  0.0  1333  0.801  1.317

[373 rows x 10 columns]>

First and foremost, we rename the columns into more speaking column names.

In [90]:
df.rename(columns={'Group' : 'dementia_group', 'M/F' : 'gender'}, inplace=True)

In [91]:
df.rename(columns={'Gender' : 'gender', 'EDUC' : 'years_education', 'SES' : 'socioeconomic_status', 'MMSE' : 'mini_mentalstate_examination', 'CDR' : 'clinical_dementia_rating', 'eTIV' : 'estimated_total_intacranial_volume', 'nWBV' : 'normalized_whole_brain_volume', 'ASF' : 'atlas_scaling_factor'}, inplace=True)

In [92]:
df.head()

,dementia_group,gender,Age,years_education,socioeconomic_status,mini_mentalstate_examination,clinical_dementia_rating,estimated_total_intacranial_volume,normalized_whole_brain_volume,atlas_scaling_factor
0,Nondemented,M,87,14,2.0,27.0,0.0,1987,0.696,0.883
1,Nondemented,M,88,14,2.0,30.0,0.0,2004,0.681,0.876
2,Demented,M,75,12,NaN,23.0,0.5,1678,0.736,1.046
3,Demented,M,76,12,NaN,28.0,0.5,1738,0.713,1.010
4,Demented,M,80,12,NaN,22.0,0.5,1698,0.701,1.034

In [93]:
df.rename(columns={'Age' : 'age'}, inplace=True)

In [94]:
df.head()

,dementia_group,gender,age,years_education,socioeconomic_status,mini_mentalstate_examination,clinical_dementia_rating,estimated_total_intacranial_volume,normalized_whole_brain_volume,atlas_scaling_factor
0,Nondemented,M,87,14,2.0,27.0,0.0,1987,0.696,0.883
1,Nondemented,M,88,14,2.0,30.0,0.0,2004,0.681,0.876
2,Demented,M,75,12,NaN,23.0,0.5,1678,0.736,1.046
3,Demented,M,76,12,NaN,28.0,0.5,1738,0.713,1.010
4,Demented,M,80,12,NaN,22.0,0.5,1698,0.701,1.034

In [95]:
percent_missing = df.isnull().sum()
percent_missing

dementia_group                         0
gender                                 0
age                                    0
years_education                        0
socioeconomic_status                  19
mini_mentalstate_examination           2
clinical_dementia_rating               0
estimated_total_intacranial_volume     0
normalized_whole_brain_volume          0
atlas_scaling_factor                   0
dtype: int64

Due to the fact, that the proportion of missing values compared to the whole dataset is so low, we remove each row with missing values (total 19 rows).

In [96]:
df.dropna(axis=0, how='any', inplace=True)

In [97]:
percent_missing = df.isnull().sum()
percent_missing

dementia_group                        0
gender                                0
age                                   0
years_education                       0
socioeconomic_status                  0
mini_mentalstate_examination          0
clinical_dementia_rating              0
estimated_total_intacranial_volume    0
normalized_whole_brain_volume         0
atlas_scaling_factor                  0
dtype: int64

In [98]:
df.info

<bound method DataFrame.info of     dementia_group gender  age  years_education  socioeconomic_status  \
0      Nondemented      M   87               14                   2.0
1      Nondemented      M   88               14                   2.0
5      Nondemented      F   88               18                   3.0
6      Nondemented      F   90               18                   3.0
7      Nondemented      M   80               12                   4.0
..             ...    ...  ...              ...                   ...
368       Demented      M   82               16                   1.0
369       Demented      M   86               16                   1.0
370    Nondemented      F   61               13                   2.0
371    Nondemented      F   63               13                   2.0
372    Nondemented      F   65               13                   2.0

     mini_mentalstate_examination  clinical_dementia_rating  \
0                            27.0                       0.0
1                            30.0                       0.0
5                            28.0                       0.0
6                            27.0                       0.0
7                            28.0                       0.0
..                            ...                       ...
368                          28.0                       0.5
369                          26.0                       0.5
370                          30.0                       0.0
371                          30.0                       0.0
372                          30.0                       0.0

     estimated_total_intacranial_volume  normalized_whole_brain_volume  \
0                                  1987                          0.696
1                                  2004                          0.681
5                                  1215                          0.710
6                                  1200                          0.718
7                                  1689                          0.712
..                                  ...                            ...
368                                1693                          0.694
369                                1688                          0.675
370                                1319                          0.801
371                                1327                          0.796
372                                1333                          0.801

     atlas_scaling_factor
0                   0.883
1                   0.876
5                   1.444
6                   1.462
7                   1.039
..                    ...
368                 1.037
369                 1.040
370                 1.331
371                 1.323
372                 1.317

[354 rows x 10 columns]>

In [99]:
df.dementia_group.value_counts()

Nondemented    190
Demented       127
Converted       37
Name: dementia_group, dtype: int64

In [100]:
cat_df = df.select_dtypes(include=['object']) #identifying the columns with categorical variables
cat_df

    dementia_group gender
0      Nondemented      M
1      Nondemented      M
5      Nondemented      F
6      Nondemented      F
7      Nondemented      M
..             ...    ...
368       Demented      M
369       Demented      M
370    Nondemented      F
371    Nondemented      F
372    Nondemented      F

[354 rows x 2 columns]

In [101]:
pd.get_dummies(df['gender'])

     F  M
0    0  1
1    0  1
5    1  0
6    1  0
7    0  1
..  .. ..
368  0  1
369  0  1
370  1  0
371  1  0
372  1  0

[354 rows x 2 columns]

In [102]:
df.gender.replace(to_replace='F', value='0', inplace=True) #replacing categorical variable for female "F" with 0 
df.gender.replace(to_replace='M', value='1', inplace=True) #replacing categorical variable for female "M" with 1

In [103]:
df.gender.replace(to_replace='0', value=0, inplace=True) #replacing categorical variable for female "F" with 0 
df.gender.replace(to_replace='1', value=1, inplace=True) #replacing categorical variable for female "M" with 1

In [104]:
df.dementia_group.replace(to_replace='Nondemented', value='0', inplace=True) #replacing categorical variable for nondemented with 0 
df.dementia_group.replace(to_replace='Demented', value='1', inplace=True) #replacing categorical variable for demented with 1

In [105]:
df.dementia_group.replace(to_replace='0', value=0, inplace=True) #replacing categorical variable for nondemented with 0 
df.dementia_group.replace(to_replace='1', value=1, inplace=True) #replacing categorical variable for demented with 1

For our business questions there is no need to specifically consider patients who converted to having the Alzheimer disease. Therefore, we consider each row with the entry "converted" the same way as "Demented". Thus, replacing it likewise with 1.

In [106]:
df.dementia_group.replace(to_replace='Converted', value=1, inplace=True) #replacing categorical variable for nondemented with 1

In [107]:
df.dtypes

dementia_group                          int64
gender                                  int64
age                                     int64
years_education                         int64
socioeconomic_status                  float64
mini_mentalstate_examination          float64
clinical_dementia_rating              float64
estimated_total_intacranial_volume      int64
normalized_whole_brain_volume         float64
atlas_scaling_factor                  float64
dtype: object

In [109]:
df.dementia_group.value_counts()

0    190
1    164
Name: dementia_group, dtype: int64

Now we will start with modelling through linear regression.

In [120]:
#Split into explanatory and response variables
X = df[['gender', 'age', 'years_education', 'socioeconomic_status', 'mini_mentalstate_examination', 'clinical_dementia_rating', 'estimated_total_intacranial_volume', 'normalized_whole_brain_volume', 'atlas_scaling_factor']]
y = df[['dementia_group']]

#Split into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .30, random_state=42) 

lm_model = LinearRegression() # Instantiate
lm_model.fit(X_train, y_train) #Fit
        
#Predict and score the model
y_test_preds = lm_model.predict(X_test) 

#Predict and score the model
y_test_preds = lm_model.predict(X_test) 
"The r-squared score for the model using only quantitative variables was {} on {} values.".format(r2_score(y_test, y_test_preds), len(y_test))

'The r-squared score for the model using only quantitative variables was 0.5699084294433614 on 107 values.'

With the r-squared score of the linear regression we can see that 57% of the variance of the response variable is explained by the variance of the explanatory variables. Therefore, more features are required to get a broader and more sophisticated view on the Alzheimer disease prediction.